*.la
*.lo
*.loT
*.o
*.tar.gz
*~
.*swp
.deps
.libs
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
*.pb-c.c
*.pb-c.h
stamp-*
